<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Burger Name</th>
            <th scope="col">Devoured</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each burgers}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.burger_name}}</td>
                {{#if this.devoured}}
                    <td>TRUE</td>
                {{else}}
                    <td>FALSE</td>
                {{/if}}
                <td>
                    <button class="btn btn-primary devourBtn" data-id="{{this.id}}">Devour Burger</button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

<form>
    <div class="form-group">
        <label for="burgerAddName">New Burger Name</label>
        <input type="text" class="form-control" id="burgerAddName">
    </div>
    <button id="burgerAddBtn" type="submit" class="btn btn-primary">Add Burger</button>
</form>